<div class="bottom-comment">
  <h4>
    <%= @story.comments.count %> comments
  </h4>
</div>
  <% @story.comments.each do |comment| %>
    <div class="bottom-comment">
    <div class="comment-img">
      <%= image_tag '/images/comment-img.jpg', :class => 'img-circle' %>
    </div>
    <div class="comment-text">
      <h5>
	<%= comment.name %>
      </h5>
      <p class="comment-date">
	<%= comment.created_at.to_formatted_s(:long) %>
      </p>
      <p class="para">
	<%= comment.body %>
      </p>
    </div>
    </div>
  <% end %>


<div class="leave-comment">
  <h4>Leave a comment</h4>
  <%= render partial: "comments/form" %>
</div>
