<div class="col-md-4" data-sticky_column>
  <div class="primary-sidebar">
    <aside class="widget about-me-widget">
      <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
      <!-- footballdopes -->
      <ins class="adsbygoogle"
	   style="display:block"
	   data-ad-client="ca-pub-9292388460078962"
	   data-ad-slot="7594585505"
	   data-ad-format="auto"></ins>
      <script>
	(adsbygoogle = window.adsbygoogle || []).push({});
      </script>
    </aside>
    <aside class="widget news-letter">
      <h3 class="widget-title text-uppercase text-center">Subscribe</h3>
      <%= form_for(@subscriber) do |f| %>
        <%= f.email_field :email, placeholder: "Your email address" %>
        <input type="submit" value="Subscribe Now"
               class="text-uppercase text-center btn btn-subscribe">
	<% end %>

    </aside>
    <aside class="widget">
      <h3 class="widget-title text-uppercase text-center">Recent Stories</h3>
      <% @last4_stories.each do |last_story| %>
        <div class="popular-post">
	  <a href="#" class="popular-img">
	    <%= image_tag last_story.image %>
	    <div class="p-overlay"></div>
          </a>
          <div class="p-content">
            <a href="#" class="text-uppercase">
	      <%= last_story.title %>
	    </a>
            <span class="p-date">
	      <%= last_story.created_at.to_formatted_s(:long) %>
	    </span>
          </div>
	</div>
      <% end %>
      
    </aside>
    <aside class="widget">
      <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
      <!-- footballdopes -->
      <ins class="adsbygoogle"
	   style="display:block"
	   data-ad-client="ca-pub-9292388460078962"
	   data-ad-slot="7594585505"
	   data-ad-format="auto"></ins>
      <script>
	(adsbygoogle = window.adsbygoogle || []).push({});
      </script>
    </aside>

    <aside class="widget border pos-padding">
      <h3 class="widget-title text-uppercase text-center">Categories</h3>
      <ul>
	<% @categories.each do |category| %>
          <li>
            <%= link_to category.name, category %>
            <span class="post-count pull-right"> (<%= category.stories.count %>)</span>
          </li>
	<% end %>
      </ul>
    </aside>
    <aside class="widget pos-padding">
      <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
      <!-- footballdopes -->
      <ins class="adsbygoogle"
	   style="display:block"
	   data-ad-client="ca-pub-9292388460078962"
	   data-ad-slot="7594585505"
	   data-ad-format="auto"></ins>
      <script>
	(adsbygoogle = window.adsbygoogle || []).push({});
      </script>
    </aside>
  </div>
</div>
