<div class="main-content">
  <div class="container">
    <p id="notice"><%= notice %></p>
    <div class="row">
      <div class="col-md-8">
	<article class="post">
	  <div class="post-thumb">
	    <%= link_to(image_tag(@last_story.image), @last_story) %>
	    <a href="<%= story_path(@last_story) %>" class="post-thumb-overlay text-center">
	      <div class="text-uppercase text-center">View Post</div>
	    </a>
	  </div>
	  <div class="post-content">
	    <header class="entry-header text-center text-uppercase">
	      <h1 class="entry-title">
		<%= link_to @last_story.title, @last_story %>
	      </h1>
	    </header>
	    <div class="entry-content">
	      <%= simple_format @last_story.body[0..200] %>
	      <div class="btn-continue-reading text-center text-uppercase">
		<%= link_to "Continue Reading", @last_story, :class => 'more-link' %>
	      </div>
	    </div>
	    <div class="social-share">
	      <span class="social-share-title pull-left text-capitalize">
	      By <%= @last_story.author.profile.name %> On <%= @last_story.created_at.to_formatted_s(:long) %>
	      </span>
	      <ul class="text-center pull-right">
		<li>
		  <a href="https://www.facebook.com/sharer/sharer.php?u=<%= "#{request.original_url}/#{@last_story.slug}" %>" title="Share on Facebook" target="_blank" class="s-facebook">
		    <i class="fa fa-facebook"></i>
		  </a>
		</li>
		<li>
		  <a href="http://twitter.com/home?status=<%= "#{request.original_url}/#{@last_story.slug}" %>" title="Share on Twitter" target="_blank" class="s-twitter">
		    <i class="fa fa-twitter"></i>
		  </a>
		</li>
	      </ul>
	    </div>
	  </div>
	</article>
	<div class="row">
	  <% @stories.each do |story| %>
	    <div class="col-md-6">
	      <article class=" post post-grid">
		<div class="post-thumb">
		  <%= link_to(image_tag(story.image), story) %>
		  <a href="<%= story_path(story) %>" class="post-thumb-overlay text-center">
		    <div class="text-uppercase text-center">View Post</div>
		  </a>
		</div>
		<div class="post-content">
		  <header class="entry-header text-center text-uppercase">
		    <h1 class="entry-title">
		      <%= link_to story.title, story %>
		    </h1>
		  </header>
		  <div class="entry-content">
		    <p><%= story.body[0..10] %></p>
		    <div class="social-share">
		      <span class="social-share-title pull-left text-capitalize">
			By <%= story.author.profile.name %> On <%= story.created_at.to_formatted_s(:long) %>
		      </span>
		    </div>
		  </div>
		</div>
	      </article>
	    </div>
	  <% end %>
	</div>
      </div> <!-- col-md-8 -->
      <%= render partial: "sidebar" %>
    </div>
  </div>
</div>
