<div class="main-content">
  <div class="container">
    <p id="notice"><%= notice %></p>
    <div class="row" style="position: relative;">
      <div class="col-md-8">
	<article class="post">
	  <div class="post-thumb">
	    <%= link_to(image_tag(@last_story.image), @last_story) %>
	    <a href="<%= story_path(@last_story) %>" class="post-thumb-overlay text-center">
	      <div class="text-uppercase text-center">View Post</div>
	    </a>
	  </div>
	  <div class="post-content">
	    <header class="entry-header text-center text-uppercase">
	      <h1 class="entry-title">
		<%= link_to @last_story.title, @last_story %>
	      </h1>
	    </header>
	    <div class="entry-content">
	      <p><%= @last_story.body %></p>
	      <div class="btn-continue-reading text-center text-uppercase">
		<%= link_to "Continue Reading", @last_story, :class => 'more-link' %>
	      </div>
	    </div>
	    <div class="social-share">
	      <span class="social-share-title pull-left text-capitalize">
	      By <%= @last_story.author.email %> On <%= @last_story.created_at.to_formatted_s(:long) %>
	      </span>
	      <ul class="text-center pull-right">
		<li>
		  <a href="#" class="s-facebook">
		    <i class="fa fa-facebook"></i>
		  </a>
		</li>
		<li>
		  <a href="#" class="s-twitter">
		    <i class="fa fa-twitter"></i>
		  </a>
		</li>
		<li>
		  <a href="#" class="s-google-plus">
		    <i class="fa fa-google-plus"></i>
		  </a>
		</li>
		<li>
		  <a href="#" class="s-linkedin">
		    <i class="fa fa-linkedin"></i>
		  </a>
		</li>
		<li>
		  <a href="#" class="s-intagram">
		    <i class="fa fa-instagram"></i>
		  </a>
		</li>
	      </ul>
	    </div>
	  </div>
	</article>
	<div class="row">
	  <% @stories.each do |story| %>
	    <div class="col-md-6">
	      <article class=" post post-grid">
		<div class="post-thumb">
		  <%= link_to(image_tag(story.image), story) %>
		  <a href="<%= story_path(story) %>" class="post-thumb-overlay text-center">
		    <div class="text-uppercase text-center">View Post</div>
		  </a>
		</div>
		<div class="post-content">
		  <header class="entry-header text-center text-uppercase">
		    <h1 class="entry-title">
		      <%= link_to story.title, story %>
		    </h1>
		  </header>
		  <div class="entry-content">
		    <p><%= story.body %></p>
		    <div class="social-share">
		      <span class="social-share-title pull-left text-capitalize">
			By <%= story.author.email %> On <%= story.created_at.to_formatted_s(:long) %>
		      </span>
		    </div>
		  </div>
		</div>
	      </article>
	    </div>
	  <% end %>
	</div>
      </div> <!-- col-md-8 -->
      <div class="col-md-4" data-sticky-column>
	<div class="primary-sidebar">
	  <aside class="widget about-me-widget">
	    <div class="about-me-img">
	      <div class="about-me-content text-center">
		<%= image_tag '/images/me.png', :class => "img-me" %>
		<h3 class="text-uppercase">Rubel Miah</h3>
		<p>
		  Rubel is enthusiastic and passionate WP Theme Cooker. He is Currently working as a Lead WordPress Developer.
		</p>
	      </div>
	    </div>
	    <%= render partial: "layouts/social_share" %>
	  </aside>
	  <aside class="widget news-letter">
	    <h3 class="widget-title text-uppercase text-center">
	      Subscribe
	    </h3>
	    <form action="#">
	      <input type="email" placeholder="Your email address">
	      <input type="submit" value="Subscribe Now" class="text-uppercase text-center btn btn-subscribe">
	    </form>
	  </aside>
	  <aside class="widget">
	    <h3 class="widget-title text-uppercase text-center">Popular Posts</h3>
	    <div class="popular-post">
	      <a href="#" class="popular-img">
		<%= image_tag '/images/p1.jpg' %>
		<div class="p-overlay"></div>
	      </a>
	      <div class="p-content">
		<a href="#" class="text-uppercase">Home is peaceful place</a>
		<span class="p-date">February 15, 2016</span>
	      </div>
	    </div>
	    <div class="popular-post">
              <a href="#" class="popular-img">
		<%= image_tag '/images/p1.jpg' %>
		<div class="p-overlay"></div>
              </a>
	      <div class="p-content">
		<a href="#" class="text-uppercase">Homeis peaceful place</a>
		<span class="p-date">February 15, 2016</span>
              </div>
            </div>
	    <div class="popular-post">
              <a href="#" class="popular-img">
		<%= image_tag '/images/p1.jpg' %>
		<div class="p-overlay"></div>
              </a>
	      <div class="p-content">
		<a href="#" class="text-uppercase">Homeis peaceful place</a>
		<span class="p-date">February 15, 2016</span>
              </div>
            </div>
	  </aside>
	  <aside class="widget">
	    <h3 class="widget-title text-uppercase text-center">Featured Posts</h3>
	    <div id="widget-feature" class="owl-caousel owl-theme" style="opacity: 1; display: block;">
	      <div class="owl-wrapper-outer">
		<div class="owl-wrapper">
		  <div class="owl-item">
		    <div class="item">
		      <div class="feature-content">
			<%= image_tag '/images/p1.jpg' %>
			<a href="#" class="overlay-text text-center">
			  <h5 class="text-uppercase">Home is peaceful</h5>
			  <p>Lorem ipsum dolor sit ametsetetur adipscing elitr, sed</p>
			</a>
		      </div>
		    </div>
		  </div>
		</div>
	      </div>
	    </div>
	  </aside>
	  <aside class="widget pos-padding">
	    <h3 class="widget-title text-uppercase text-center">
	      Recent Posts
	    </h3>
	    <div class="thumb-latest-posts">
	      <div class="media">
		<div class="media-left">
		  <a href="#" class="popular-img">
		    <%= image_tag '/images/r-p.jpg' %>
		    <div class="p-overlay"></div>
		  </a>
		</div>
		<div class="p-content">
		  <a href="#" class="text-uppercase">Home is peaceful Place</a>
		  <span class="p-date">February 15, 2016</span>
		</div>
	      </div>
	    </div> <!-- thumb-latest-posts -->
	    <div class="thumb-latest-posts">
              <div class="media">
		<div class="media-left">
                  <a href="#" class="popular-img">
                    <%= image_tag '/images/r-p.jpg' %>
                    <div class="p-overlay"></div>
                  </a>
		  </div>
		<div class="p-content">
                  <a href="#" class="text-uppercase">Home is peaceful Place</a>
                  <span class="p-date">February 15, 2016</span>
		  </div>
              </div>
            </div> <!-- thumb-latest-posts -->
<div class="thumb-latest-posts">
              <div class="media">
		<div class="media-left">
                  <a href="#" class="popular-img">
                    <%= image_tag '/images/r-p.jpg' %>
                    <div class="p-overlay"></div>
                  </a>
		  </div>
		<div class="p-content">
                  <a href="#" class="text-uppercase">Home is peaceful Place</a>
                  <span class="p-date">February 15, 2016</span>
		  </div>
              </div>
            </div> <!-- thumb-latest-posts -->
<div class="thumb-latest-posts">
              <div class="media">
		<div class="media-left">
                  <a href="#" class="popular-img">
                    <%= image_tag '/images/r-p.jpg' %>
                    <div class="p-overlay"></div>
                  </a>
		  </div>
		<div class="p-content">
                  <a href="#" class="text-uppercase">Home is peaceful Place</a>
                  <span class="p-date">February 15, 2016</span>
		  </div>
              </div>
            </div> <!-- thumb-latest-posts -->
	  </aside>
	</div>
      </div> <!-- col-md-4 -->
    </div>
  </div>
</div>
