<div class="main-content">
  <div class="container">
    <div class="row">
      <div class="col-md-8">
	<p id="notice"><%= notice %></p>
	<article class="post">
	  <div class="post-thumb">
	    <a href="#">
	      <%= image_tag @story.image %>
	    </a>
	  </div>
	  <div class="post-content">
	    <header class="entry-header text-center text-uppercase">
	      <h1 class="entry-title">
		<%= @story.title %>
	      </h1>
	    </header>
	    <div class="entry-content">
	      <p>
		<%= @story.body %>
	      </p>
	    </div>
	    <%= render partial: "layouts/social_share", :locals => {story: @story} %>
	  </div>
	</article>
	<%= render partial: "comments" %>
      </div>
      <%= render partial: "sidebar" %>
    </div>
  </div>
</div>
