<div class="main-content">
  <div class="container">
    <div class="row" style="position: relative">
      <div class="col-md-8">
<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @story.title %>
</p>

<p>
  <strong>Body:</strong>
  <%= @story.body %>
</p>

<p>
  <strong>Author:</strong>
  <%= @story.author_id %>
</p>

<p>
  <strong>Image:</strong>
  <%= @story.image %>
</p>

<%= link_to 'Edit', edit_story_path(@story) %> |
<%= link_to 'Back', stories_path %>

      </div>
      <%= render partial: "sidebar" %>
    </div>
  </div>
</div>
