<!DOCTYPE html>
<html>
<head>
  <title>Nfl</title>
  <%= csrf_meta_tags %>

  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
</head>

<body>
  <nav class="navbar main-menu navbar-default">
    <div class="container">
      <div class="menu-content">
	<div class="navbar-header">
	  <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#nfl-navbar-collapse-1">
	    <span class="sr-only">Toggle navigation</span>
	    <span class="icon-bar"></span>
	    <span class="icon-bar"></span>
	    <span class="icon-bar"></span>
	  </button>
	  <a class="navbar-brand" href="#">
	    <%= image_tag '/images/logo.png' %>
	  </a>
	</div>
	<div class="collapse navbar-collapse" id="nfl-navbar-collapse-1">
	  <ul class="nav navbar-nav text-uppercase">
	    <li><a href="#">Home</a></li>
	    <li><a href="#">Stories</a></li>
	    <li><a href="#">Authors</a></li>
	    <li><a href="#">About</a></li>
	    <li><a href="#">Contact</a></li>
	    <% if author_signed_in? %>
	      <li class="menu-item-has-children">
		<a data-toggle="dropdown" class="dropdown-toggle" href="#">
		  Authors Only
		  <i class="fa fa-angle-down"></i>
		</a>
		<ul class="sub-menu">
		  <li>
		    <%= link_to 'New Story', new_story_path %>
		    <%= link_to 'Edit Profile', new_author_profile_path(current_author) %>
		    <%= link_to 'Log Out', destroy_author_session_path, :method => :delete %>
		  </li>
		</ul>
	      </li>
	    <% end %>
	  </ul>
	  <div class="i_con">
	    <a href="#"><i class="active fa fa-twitter"></i></a>
	    <a href="#"><i class="active fa fa-facebook"></i></a>
	    <a href="#"><i class="active fa fa-linkedin"></i></a>
	    <a href="#"><i class="active fa fa-google-plus"></i></a>
	    <a href="#"><i class="active fa fa-instagram"></i></a>
	    <a href="#"><i class="active fa fa-heart"></i></a>
	  </div>
	</div>
      </div>
    </div>
  </nav>

  <%= yield %>

  <footer class="footer-widget-section">
    <div class="container">
      <div class="row">
	<div class="col-md-4">
	  <aside class="footer-widget">
	    <div class="about-img">
	      <%= image_tag '/images/footer-logo.png' %>
	    </div>
	    <div class="about-content">
	      Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed voluptua. At vero eos et accusam et justo duo dlores et ea rebum magna text ar koto din.
	    </div>
	    <div class="address">
	      <h4 class="text-uppercase">contact Info</h4>
	      <p> 239/2 NK Street, DC, USA</p>
	      <p> Phone: +123 456 78900</p>
	      <p>theme@kotha.com</p>
	    </div>
	  </aside>
	</div>
	<div class="col-md-4">
	  <aside class="footer-widget">
	    <h3 class="widget-title text-uppercase">Testimonials</h3>
	    <div id="myCarousel" class="carousel slide" data-ride="carousel">
	      <ol class="carousel-indicators">
		<li data-target="#myCarousel" data-slide-to="0" class="active"></li>
		<li data-target="#myCarousel" data-slide-to="1"></li>
		<li data-target="#myCarousel" data-slide-to="2"></li>
	      </ol>
	      <div class="carousel-inner" role="listbox">
		<div class="item">
		  <div class="single-review">
		    <div class="review-text">
		      <p>Lorem ipsum dolor sit amet, conssadipscing elitr, sed diam nonumy eirmod tempvidunt ut labore et dolore magna aliquyam erat,sed diam voluptua. At vero eos et accusam justo duo dolores et ea rebum.gubergren no sea takimata magna aliquyam eratma</p>
		    </div>
		    <div class="author-id">
		      <%= image_tag '/images/author.png' %>
		      <div class="author-text">
			<h4>Sophia</h4>
			<h4>CEO, ReadyTheme</h4>
		      </div>
		    </div>
		  </div>
		</div>
		<div class="item">
                  <div class="single-review">
                    <div class="review-text">
		            <p>Lorem ipsum dolor sit amet, conssadipscing elitr, sed \
diam nonumy eirmod tempvidunt ut labore et dolore magna aliquyam erat,sed diam \
voluptua. At vero eos et accusam justo duo dolores et ea rebum.gubergren no sea\
 takimata magna aliquyam eratma</p>
                    </div>
                    <div class="author-id">
		            <%= image_tag '/images/author.png' %>
			          <div class="author-text">
				    <h4>Sophia</h4>
				    <h4>CEO, ReadyTheme</h4>
				          </div>
                    </div>
                  </div>
                </div>
		<div class="item active">
                  <div class="single-review">
                    <div class="review-text">
		            <p>Lorem ipsum dolor sit amet, conssadipscing elitr, sed \
diam nonumy eirmod tempvidunt ut labore et dolore magna aliquyam erat,sed diam \
voluptua. At vero eos et accusam justo duo dolores et ea rebum.gubergren no sea\
 takimata magna aliquyam eratma</p>
                    </div>
                    <div class="author-id">
		            <%= image_tag '/images/author.png' %>
			          <div class="author-text">
				    <h4>Sophia</h4>
				    <h4>CEO, ReadyTheme</h4>
				          </div>
                    </div>
                  </div>
                </div>
	      </div>
	    </div>
	  </aside>
	</div>
	<div class="col-md-4">
	  <aside class="footer-widget">
	    <h3 class="widget-title text-uppercase">Custom Category Post</h3>
	    <div class="custom-post">
	      <div>
		<a href="#">
		  <%= image_tag '/images/footer-img.png' %>
		</a>
	      </div>
	      <div>
		<a href="#" class="text-uppercase">Home is peaceful Place</a>
		<span class="p-date">February 15, 2-16</span>
	      </div>
	    </div>
	  </aside>
	</div>
      </div>
    </div>
    <div class="footer-copy">
      <div class="container">
	<div class="row">
	  <div class="col-md-12">
	    <div class="text-center">
	      © 2015 
	      <a href="#">Kotha PRO</a>
	      , Designed with 
	      <i class="fa fa-heart"></i> 
	      by <a href="#">ShapedTheme</a>
	    </div>
	  </div>
	</div>
      </div>
    </div>
  </footer>
</body>
</html>
